* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    background: #1a261a;
    color: #fff;
}

input,
button,
textarea,
select {
    color: inherit;
    font-size: inherit;
    font-family: inherit;
}

button {
    background: transparent;
    border: none;
    cursor: pointer;
}

ul {
    list-style: none;
}

.app-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 50px;
}

.page-heading {
    font-size: 2.4rem;
}

.todo-form {
    display: flex;
    gap: 10px;
    margin-top: 30px;
}

.input,
.submit-btn {
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #fff;
    background: transparent;
    font-weight: 600;
}

.input {
    flex: 1;
}

.submit-btn {
    flex-shrink: 0;
    cursor: pointer;
}

.loading-spinner {
    text-align: center;
    padding-top: 20px;
    color: #d4f1f4;
    font-weight: 600;
}

.task-list {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}

.task-item {
    display: flex;
    padding: 8px 12px;
    border-radius: 8px;
    border: 1px solid #ea9652;
}

.task-item.completed {
    opacity: 0.6;
}

.task-item.completed .task-title {
    text-decoration: line-through;
}

.task-title {
    flex: 1;
}

.task-action {
    display: flex;
    gap: 16px;
}

.task-btn {
    text-transform: uppercase;
    font-size: 1.4rem;
    font-weight: 600;
}

.task-btn.edit {
    color: #50ad7e;
}

.task-btn.done {
    color: #ea9652;
}

.task-btn.delete {
    color: #a13538;
}

.task-btn:hover {
    cursor: pointer;
    text-decoration: underline;
}

.empty-message {
    list-style: none;
    text-align: center;
    font-style: italic;
    color: #888;
}

.edit-input {
    width: 100%;
    height: 100%;
    outline: none;
    border: none;
    background: transparent;
}

/* modal  */
.modal {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.6);
}

.modal-container {
    position: absolute;
    top: 50%;
    left: 50%;
    translate: -50% -50%;

    width: 400px;
    padding: 30px 30px;
    background: #1a2630;
    border-radius: 10px;
    color: #d4f1f4;
}

.modal-heading {
    font-weight: 600;
    font-size: 20px;
}

.modal-footer {
    margin-top: 20px;
    padding: 0 10px;

    display: flex;
    justify-content: flex-end;
    column-gap: 20px;
}

.modal-btn {
    font-weight: 600;
    font-size: 14px;
    padding: 8px 0px;
    width: 80px;
    border-radius: 8px;
    background: #ccc;
}

.modal-btn:hover {
    opacity: 0.8;
}

.modal-confirm {
    background: #a13538;
}

.modal-cancel {
    background: #50ad7e;
}

/* Toast */
.toast-container {
    position: fixed;
    z-index: 1000;
    top: 30px;
    right: 20px;

    display: flex;
    flex-direction: column;
    gap: 5px;
}

.toast {
    background: #666;
    color: var(--text-primary);
    min-width: 250px;
    border-radius: 7px;
    border-left: 8px solid transparent;
    padding: 10px 15px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.08);
    user-select: none;

    animation: slideIn 0.7s;
}

.toast.closing {
    animation: slideOut 0.7s;
}

@keyframes slideIn {
    from {
        opacity: 0;
        translate: 100% 0;
    }
    to {
        opacity: 1;
        translate: 0 0;
    }
}

@keyframes slideOut {
    from {
        opacity: 1;
        translate: 0 0;
    }
    to {
        opacity: 0;
        translate: 100% 0;
    }
}

.toast.success {
    border-left: 8px solid #47d764;
}

.toast.error {
    border-left: 8px solid #ff355b;
}
